* {
  width: fill;
  height: fill;
  text-align: center;
}

.page{
  align-items: center;
  justify-content: center;
  color: #ffff;
  font-size:calc(10px + 2vmin);
}

.bg{
  background-image: url(./images/background.jpg);
  height: 100vh;
  overflow:auto;
  background-size: cover;
  background-attachment: fixed;
}